.navbar {
  background-color: #fff;
  margin-bottom: 0;
}

.navbar-brand {
  font-size: 2em;
}

.navbar-collapse.collapse {
  display: none !important;
}

@media (max-width: 767px) {
  .navbar-collapse.collapse {
    display: block !important;
  }
}

.navbar-header {
  float: left;
}

.navbar-toggle {
  background-color: #ccc;
}

.collapse.navbar-collapse {
  background-color: #eee;
}

.page-heading {
  text-align: center;
  margin-top: 2em;
}

.full-width-section {
  background-color: #f5f5f5;
  min-height: 1000px;
  padding: 2em;
}

/* Optional sections (uncomment to activate) */
section {
  margin-bottom: 2em;
  padding: 2em;
  border-radius: 5px;
  background-color: #eee;
}
